# QHiveFrame Code Style
---
BasedOnStyle: None
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
Language: Cpp
Standard: c++17
UseTab: Never
SortIncludes: true
IndentCaseLabels: true
ReflowComments: true
SpaceBeforeParens: ControlStatements
...
